{% extends "base.html" %}

{% block content %}

<div id="about" class="content-section-b">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-12">
              <center>
                  <a href="/static/files/2015VendorApplication.pdf">
                      <img class="img-responsive" style="max-height:400px;" src="/static/img/boothApp.png">
                  </a>
              </center>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-12">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <p class="lead">
                  Please fill out the <a href="/static/files/2016VendorApplication.pdf">booth application</a> and postmark by January 31st, 2016 or submit via email to <a href="mailto:powwow-booth@lists.stanford.edu">powwow-booth@lists.stanford.edu</a>.  Please keep in mind that our booth committee heads will be on vacation and will NOT be checking e-mail or voicemail until they return from break during the week of January 4th-8th!

              </p>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>

{% endblock %}
