{% extends "base.html" %}

{% block content %}

<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Stanford Powwow</h1>
                    <h3>Mother's Day Weekend</h3>
                    <h3>May 6th - 8th, 2016</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div id="about" class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    The Stanford American Indian Organization (SAIO) and the Stanford Powwow Planning Committee will host the 45th Annual Stanford Powwow on May 6-8th, 2016 on the Stanford University campus. The Powwow will be held in the Eucalyptus Grove at Galvez and Campus Drives. The Stanford Powwow is open to the public and overnight camping spaces are available. Donations for parking and camping are welcome. There is no pre-registration, and registration is done on a first come, first served, basis. However, there should be plenty of room for anyone who wants to camp. Also, <b>no personal tents or canopies are allowed on the powwow grounds until 3pm on Friday.</b> This gives our facilities team adequate time to set up.
                </p>
                <p class="lead">
                    Any questions can be directed to <a href="tel:650-723-4078">650-723-4078</a> or <a href="mailto:powwow-cochairs@lists.stanford.edu">powwow-cochairs@lists.stanford.edu</a>.
                </p>
            </div>
        </div>

    </div>

    <div id="schedule" class="content-section-a">
        <div class="container">
            <div class="col-lg-offset-2 col-lg-8 col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Example Schedule</h2>
                <h3>Friday</h3>
                <table class="table">
                    <tr class="lead">
                        <td>5:00pm &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                        <td>
                            <p>Special Performances</p>
                            <p>Dancer and Drum Registration Opens</p>
                            <p>Indian Art Market Opens</p>
                        </td>
                    </tr>
                    <tr class="lead">
                        <td>7:00pm - <b>Grand Entry</b></td>
                        <td>
                            <p>Invocation</p>
                            <p>Welcome Address</p>
                            <p>Introduction of Head Staff</p>
                        </td>
                    </tr>
                    <tr class="lead">
                        <td>8:00pm</td>
                        <td>
                            <p>Social Dances (public participation encouraged)</p>
                            <p>Men's Prairie Chicken vs. Grass - Men's Grass Round</p>
                            <p><i>1st Round, Dance Competition - All Categories</i></p>
                            <p>Intertribals</p>
                        </td>
                    </tr>
                    <tr class="lead">
                        <td>11:00pm</td>
                        <td>
                            <p>Closing Song and Dance Out</p>
                        </td>
                    </tr>
                </table>

                <h3>Saturday</h3>
                <table class="table">
                    <tr class="lead">
                        <td>7:40am &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                        <td>
                            <p>Fun Run Registration Closes</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>8:00am</td>
                        <td>
                            <p>19th Annual Fun Run</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>11:30am</td>
                        <td>
                            <p>Special Performances</p>
                            <p>Dancer and Drum Registration Opens</p>
                            <p>Gourd Dancing</p>
                    </tr>

                    <tr class="lead">
                        <td>1:00pm - <b>Grand Entry</b></td>
                        <td>
                            <p>Invocation and Introduction of Head Staff</p>
                            <p>Dancer and Drum Registration Opens</p>
                            <p>Intertribals</p>
                            <p>Exhibition - Tiny Tots</p>
                            <p>Exhibition - Golden Age</p>
                            <p>Exhibition - Men and Women</p>
                            <p>Intertribals</p>
                            <p>Social Dance (public participation encouraged)</p>
                            <p><i>2nd Round, Dance Competition - Junior and Teen</i></p>
                            <p>Special Contests</p>
                            <p>1st Session - Hand Drum Contest</p>
                            <p>Closing Song</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>4:30pm</td>
                        <td>
                            <p>Stanford Native American Alumni Gathering</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>5:00pm</td>
                        <td>
                            <p>Dinner Break</p>
                            <p>Special Performances</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>7:00pm - <b>Grand Entry</b></td>
                        <td>
                            <p>Invocation and Introduction of Head Staff</p>
                            <p>Exhibition - Junior, Teen, and Women's</p>
                            <p>Men's Prairie Chicken vs. Grass - Men's Prairie Chicken</p>
                            <p>Intertribals</p>
                            <p>Social Dances (public participation encouraged)</p>
                            <p><i>2nd Round, Dance Competition - Men</i></p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>11:00pm</td>
                        <td>
                            <p>Closing Song and Dance Out</p>
                        </td>
                    </tr>
                </table>

                <h3>Sunday</h3>
                <table class="table">
                    <tr class="lead">
                        <td>11:30am</td>
                        <td>
                            <p>Special Performances</p>
                            <p>Gourd Dancing</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>1:00pm - <b>Grand Entry</b></td>
                        <td>
                            <p>Invocation and Introduction of Head Staff</p>
                            <p>Intertribals</p>
                            <p>Social Dances (public participation encouraged)</p>
                            <p>Head Women Special - Mother Daughter Team Dance</p>
                            <p>Special Contest - Switch Dance, Men and Women</p>
                            <p>Honor Song - 2015 Native Stanford Graduates</p>
                            <p><i>2nd Round, Dance Competition - Women</i></p>
                            <p>Honor Song - Mother's Day</p>
                            <p>Exhibition - Junior, Teen, and Men's</p>
                            <p>Men's Prairie Chicken vs. Grass (Final Round)</p>
                            <p>2nd Session - Hand Drum Contest</p>
                            <p>Intertribals</p>
                            <p>Social Dances (public participation encouraged)</p>
                        </td>
                    </tr>

                    <tr class="lead">
                        <td>6:00pm</td>
                        <td>
                            <p>Closing Songs</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<!-- /.content-section-b -->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect with the Stanford</br> Native Community</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="http://stanford.edu/group/saio/" class="btn btn-default btn-lg"><i class="fa fa-mortar-board fa-fw"></i> <span class="network-name">Website</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/StanfordAmericanIndianOrganization" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

{% endblock %}
